h1{
    font-style: italic;
    border: firebrick;
    font-size: 2em;
    border-style: solid;
    border-radius: 79pt;
    border:3px solid red

}
#one:hover{
background-color: gold;

}
a:hover{
background-color: hotpink;

}